/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* partCHnP = spacing 
 * partHfirst = spacing
 * */

#found .button {
	-fx-background-color:  #99ccff;
	-fx-text-fill: white;
	-fx-cursor: hand;
}

#addform .text-field, #addform .combo-box {
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-color:  #99ccff;
	-fx-border-width: 0 0 2 0;
}

#addform * {
	-fx-text-fill: rgb(178,178,178);
}

#strana {
	-fx-padding: 0 0 100 0;
	-fx-spacing: 10;
}

#strana .text-field {
	-fx-background-color: white;
}

#strana #part  {
	-fx-background-color:  rgb(232,243,210);
	-fx-border-color: black;
	-fx-border-width: 1 1 1 1;
	
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
}

#strana #partO, #strana #partO * {
	-fx-background-color:  rgb(232,243,210);
	-fx-border-color: black;
	-fx-border-width: 1 1 1 1;
	
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
    
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#strana #partNP {
	-fx-background-color:  rgb(232,243,210);
	-fx-border-color: black;
	-fx-border-width: 1 1 1 1;
    
}

#strana #partHfirst {
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
}

#strana #partHfirstnS {
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

#strana #partH {
	-fx-border-color: black;
	-fx-border-width: 0 0 0 1;
	
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
}

#strana #partHnP {
	-fx-border-color: black;
	-fx-border-width: 0 0 0 1;
    -fx-spacing: 10;
}

#strana #partHnPnS {
	-fx-border-color: black;
	-fx-border-width: 0 0 0 1;
}

#strana #partCH {
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
}

#strana #partCHbB {
	-fx-border-color: black;
	-fx-border-width: 0 0 1 0;
	
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
}

#strana #partCHfirst {
	-fx-border-color: black;
	-fx-border-width: 1 0 1 0;
	
	-fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
}

#strana #partCHfirstnS {
	-fx-border-color: black;
	-fx-border-width: 1 0 1 0;
	
	-fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

#strana #partCHmiddle {
	-fx-border-color: black;
	-fx-border-width: 0 0 1 0;
	
	-fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-spacing: 10;
}

#strana #partCHmiddlenS {
	-fx-border-color: black;
	-fx-border-width: 0 0 1 0;
	
	-fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

#strana #predelfirst {
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-border-color: black;
	-fx-border-width: 1 0 0 0;
}

#strana #predel {
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-border-color: black;
	-fx-border-width: 1 0 1 0;
}

#strana #predellast {
	-fx-padding: 10;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    
    -fx-border-color: black;
	-fx-border-width: 0 0 1 0;
	
	-fx-spacing: 10;
}

#strana #boldP {
	-fx-font-weight: bold;
	-fx-padding: 10;
}

#strana #bold {
	-fx-font-weight: bold;
}

#strana #padding {
	-fx-padding: 10;
}

#strana #paddingspacing {
	-fx-padding: 10;
	-fx-spacing: 10;
}

#strana #spacing {
	-fx-spacing: 10;
}